extends layout

block content
  h2(id='titolo_sezione_admin') Amministrazione del Blog

  // Link per aggiungere un nuovo post
  a(href='/admin/new',id='link_newPost') Aggiungi Nuovo Post

  if dati.length > 0
    // Elenco dei post con opzione di cancellazione
    each post in dati  
      div(class='post-container')
        h3(id='h3SezAdmin')= post.title
        p= post.content
        div(class='box_mod_admin')
          div(class='admin_delete') 
            a(href='/admin/delete/' + post.id) Cancella
          div(class='admin_mod') 
            a(href="#") modifica 

  else
    p Nessun post presente