doctype html
html
  head
    title Blog
    link(rel="stylesheet", href="Style.css")
  body
    header(class='header') 
      h1 benvenuti nel blog
      div(id='link_admin') 
        a(href="log") admin 
    block content
    footer 
      p(class='footer_text') pagina modficata da simone Fernandez IV  